body
{
	
}
.folder
{
	border: thin dotted #000000;
	font-family: 'Arial Narrow';
	font-size: x-large;
	background-color: #808080;
	display: block;
	margin-bottom: 5px;
}

.status
{
    font-family: 'Arial';
	font-size: medium;
	display: block;
	margin-bottom: 5px;
}
.connect
{
    color:Red;
}
.connected
{
    color:Green;
}

